<section class="aww-frame">
    <section class="aww-center">

            <section class="back-arrow">
                <i ng-click="$ctrl.previous();" class="material-icons">keyboard_arrow_up</i>
            </section>

            <img class="aww-img" src="{{$ctrl.awwObj.children[$ctrl.c].data.url}}">
            <p>{{ $ctrl.awwObj.children[c].data.author }}</p>

            <section class="next-arrow">
                <i ng-click="$ctrl.next();" class="material-icons">keyboard_arrow_down</i>
            </section>


            
    </section>

</section>